print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hacker
.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('مرگ بر ایران')
 print('مرگ بر خامنه ایی')
 print('مرگ بر رهبر ایران')
 print('مرگ بر جمهوری اسلامی ایران')
 print('کیرم به ناموس روبیکا')
 print('کسمادرت پشتیبانی')
 print('کیر تو ناموس معاونت روبیکا')
 print('درود بر امریکا مرگ بر خمینی')
 print('خمینی سگ میباشد')
 print('کس مادر سازنده روبیکا')
 print('کیر به ناموس سازنده روبیکا')
 print('کیرم تو روبیکا')
 print('روبیکا سکمه')
 print('کیرم تو ناموس رهبر')
 print('کیرم تو برنامه روبیکا')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hacker
.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
print('https://dxprit-yftt15k-hacker-in-rubika-sex-hck.github.io/hackers.github.io')
